<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href='/static/css/intro.css' rel='stylesheet' type='text/css'>
    
</head>

<body>
    <header>Last_Update : 2020.12.30 </header>

    <h2 class="eyebrow">Hello World!</h2>
    <!-- <h2 class="eyebrow">Developer Park Byeongho</h2> -->
    <h2 class="emoji" data-emoji="💻">Developer Park Byeongho</h2>
    <h2 class="divider">Press the button below ↓</h2>

    <div class="buttons">
        <!-- <button class="fill">Fill In</button> -->
        <a href="/About"><button class="pulse">About</button></a>
        <a href="/Skill"><button class="close">Skill</button></a>
        <a href="/Project"><button class="raise">Project</button></a>
        <!-- <button class="up">Fill Up</button> -->
        <a href="https://github.com/rhehd721"><button class="slide">Github</button></a>
        <!-- <button class="offset">Offset</button> -->
    </div>
</body>

</html>